<div data-role="header">
  <h1>Payment Confirmation</h1>
</div>
<div data-role="content">
  <h2>Confirmation #<%= @checkout_id %></h2>
  <p>Thanks for your payment. It will be posted soon. Please keep your confirmation email.</p>
</div>
