<!DOCTYPE html>
<html>
<head>
  <title>Ordering System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
  <script src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page">
    <%= yield %>
  </div>
</body>
</html>
